.service {
  display: flex;
  position: relative;
  width: 230px;
  height: 230px;

  transition: transform 0.5s ease;
  background-color: var(--beluga);
  border: 1px solid black;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  color: var(--black);
  text-align: center;
}

.circle {
  position: absolute;
  top: -11px;
  left: -11px;
  width: 22px;
  height: 22px;
  background: var(--rich-georgia-clay);
  border-radius: 50%;
}

.under-text {
  font-size: 18px;
}

/* MEDIA SCREEN MEDIUM  */

@media screen and (min-width: 769px) {
  .service:hover {
    transform: scale(1.05);
  }
}

/* MEDIA SCREEN DESKTOP */

@media screen and (min-width: 1024px) {
  .service {
    width: 198px;
    height: 194px;
  }
}
