:root {
  --white: #ffffff;
  --black-oak: #4e4e4e;
  --beluga: #f1f1f1;
  --nato-blue: #152d41;
  --china-pattern: #405d78;
  --rich-georgia-clay: #e07a64;
  --black: #000000;
  --explosive-grey: #c4c4c4;
  --shade: #00000026;
}

/* MAIN */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
}

.not-allowed {
  cursor: not-allowed;
}

/* POSITIONING */

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

/* MEDIA SCREEN MEDIUM  */

@media screen and (min-width: 769px) {
  .container {
    width: 760px;
  }
}

/* MEDIA SCREEN DESKTOP */

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    width: 960px;
    margin: 0 auto;
  }
}
